{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">

    {{#if @custom.show_publication_cover}}
        {{#if @site.cover_image}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="xl"}}"
                alt="{{@site.title}}"
            />
        {{/if}}
    {{/if}}

    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            {{#match @custom.navigation_layout "Logo on cover"}}
                {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <h1 class="site-title">{{@site.title}}</h1>
                {{/if}}
            {{/match}}
            {{#if @site.description}}
                <p class="site-description">{{@site.description}}</p>
            {{/if}}
        </div>
    {{/match}}

</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">

<section class="p-outer hero">
    <div class="p-inner p-hero">
        <div class="p-hero-left">
            <!-- Typed Text Animation -->
            <div class="typing" data-text="This is a typed text animation"></div>
        </div>
        
        <div class="p-hero-left">
            <a class="footer-cta-button gh-portal-close" href="#/portal" data-portal="">
                <div class="footer-cta-input">Enter your email</div>
                <span>Subscribe</span>
            </a>
        </div>
    </div>
</section>

<section>
    <div class="inner posts">
        <div class="post-feed-header">
        <h2 class="post-feed-title">Recent Pitch Breakdown</h2>
        <div class="post-feed">
            {{#get "posts" limit="3" include="tags" filter="tags:[pitch-breakdown]" order="published_at desc"}}
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        {{pagination}}

        </div>
</section>

<section>
    <div class="inner posts">
        <div class="post-feed-header">
        <h2 class="post-feed-title">Recent Articles</h2>
        <div class="post-feed">
            {{#get "posts" limit="3" include="tags" filter="tags:[foundry]" order="published_at desc"}}
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        
        {{pagination}}

        </div>
</section>

</main>
